absl-py==2.0.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
aiohttp==3.8.6 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
altair==5.1.2 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==3.7.1 ; python_version >= "3.10" and python_version < "3.12"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.12" and (platform_system == "Darwin" or sys_platform == "darwin")
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "3.12"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "3.12"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
asttokens==2.4.1 ; python_version >= "3.10" and python_version < "3.12"
astunparse==1.6.3 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
async-lru==2.0.4 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.12"
atlassian-python-api==3.41.3 ; python_version >= "3.10" and python_version < "3.12"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.12"
babel==2.13.1 ; python_version >= "3.10" and python_version < "3.12"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "3.12"
bleach==6.1.0 ; python_version >= "3.10" and python_version < "3.12"
blinker==1.7.0 ; python_version >= "3.10" and python_version < "3.12"
cachecontrol==0.13.1 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.3.2 ; python_version >= "3.10" and python_version < "3.12"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
cryptography==41.0.5 ; python_version >= "3.10" and python_version < "3.12"
dataclasses-json==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
debugpy==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.12"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
fastjsonschema==2.18.1 ; python_version >= "3.10" and python_version < "3.12"
firebase-admin==6.2.0 ; python_version >= "3.10" and python_version < "3.12"
flake8==6.1.0 ; python_version >= "3.10" and python_version < "3.12"
flatbuffers==23.5.26 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2023.10.0 ; python_version >= "3.10" and python_version < "3.12"
gast==0.5.4 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
gcsfs==2023.10.0 ; python_version >= "3.10" and python_version < "3.12"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "3.12"
gitpython==3.1.40 ; python_version >= "3.10" and python_version < "3.12"
google-api-core==2.13.0 ; python_version >= "3.10" and python_version < "3.12"
google-api-core[grpc]==2.13.0 ; python_version >= "3.10" and python_version < "3.12"
google-api-python-client==2.107.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth-httplib2==0.1.1 ; python_version >= "3.10" and python_version < "3.12"
google-auth-oauthlib==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth==2.23.4 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-aiplatform==1.36.4 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-bigquery==3.13.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-core==2.3.3 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-datastore==2.18.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-firestore==2.13.1 ; python_version >= "3.10" and python_version < "3.12" and platform_python_implementation != "PyPy"
google-cloud-pubsub==2.18.4 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-resource-manager==1.10.4 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-storage==2.13.0 ; python_version >= "3.10" and python_version < "3.12"
google-crc32c==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
google-pasta==0.2.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
google-resumable-media==2.6.0 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos==1.61.0 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos[grpc]==1.61.0 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.0.1 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
grpc-google-iam-v1==0.12.6 ; python_version >= "3.10" and python_version < "3.12"
grpcio-status==1.59.2 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.59.2 ; python_version >= "3.10" and python_version < "3.12"
h5py==3.10.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.4 ; python_version >= "3.10" and python_version < "3.12"
importlib-metadata==6.8.0 ; python_version >= "3.10" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
ipykernel==6.26.0 ; python_version >= "3.10" and python_version < "3.12"
ipython==8.17.2 ; python_version >= "3.10" and python_version < "3.12"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
json5==0.9.14 ; python_version >= "3.10" and python_version < "3.12"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "3.12"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2023.7.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.19.2 ; python_version >= "3.10" and python_version < "3.12"
jsonschema[format-nongpl]==4.19.2 ; python_version >= "3.10" and python_version < "3.12"
jupyter-client==8.6.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-core==5.5.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-events==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-lsp==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server-terminals==0.4.4 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server==2.10.0 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-pygments==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-server==2.25.0 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab==4.0.8 ; python_version >= "3.10" and python_version < "3.12"
keras==2.14.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
langchain==0.0.330 ; python_version >= "3.10" and python_version < "3.12"
langsmith==0.0.57 ; python_version >= "3.10" and python_version < "3.12"
libclang==16.0.6 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
lxml==4.9.3 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markdown==3.5.1 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
markdownify==0.11.6 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.12"
marshmallow==3.20.1 ; python_version >= "3.10" and python_version < "3.12"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
mistune==3.0.2 ; python_version >= "3.10" and python_version < "3.12"
ml-dtypes==0.2.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
msgpack==1.0.7 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
nbclient==0.8.0 ; python_version >= "3.10" and python_version < "3.12"
nbconvert==7.11.0 ; python_version >= "3.10" and python_version < "3.12"
nbformat==5.9.2 ; python_version >= "3.10" and python_version < "3.12"
nest-asyncio==1.5.8 ; python_version >= "3.10" and python_version < "3.12"
notebook-shim==0.2.3 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
overrides==7.4.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.0.3 ; python_version >= "3.10" and python_version < "3.12"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.12"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "win32"
pillow==10.1.0 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==3.11.0 ; python_version >= "3.10" and python_version < "3.12"
pluggy==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
prometheus-client==0.18.0 ; python_version >= "3.10" and python_version < "3.12"
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "3.12"
proto-plus==1.22.3 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.25.0 ; python_version >= "3.10" and python_version < "3.12"
psutil==5.9.6 ; python_version >= "3.10" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.12" and (os_name != "nt" or sys_platform != "win32")
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
pyarrow==14.0.1 ; python_version >= "3.10" and python_version < "3.12"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "3.12"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
pycodestyle==2.11.1 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.12"
pydantic-core==2.10.1 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.4.2 ; python_version >= "3.10" and python_version < "3.12"
pydeck==0.8.0 ; python_version >= "3.10" and python_version < "3.12"
pyflakes==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.12"
pyjwt[crypto]==2.8.0 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.12"
pytest==7.4.3 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "3.12"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.12"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.12"
pywinpty==2.0.12 ; python_version >= "3.10" and python_version < "3.12" and os_name == "nt"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
pyzmq==25.1.1 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.30.2 ; python_version >= "3.10" and python_version < "3.12"
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.12"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.12"
rich==13.6.0 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.12"
send2trash==1.8.2 ; python_version >= "3.10" and python_version < "3.12"
setuptools==68.2.2 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
shapely==2.0.2 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.23 ; python_version >= "3.10" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.12"
streamlit-feedback==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
streamlit==1.28.1 ; python_version >= "3.10" and python_version < "3.12"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "3.12"
tensorboard-data-server==0.7.2 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
tensorboard==2.14.1 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
tensorflow-estimator==2.14.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
tensorflow-hub==0.15.0 ; python_version >= "3.10" and python_version < "3.12"
tensorflow-io-gcs-filesystem==0.34.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
tensorflow==2.14.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
termcolor==2.3.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
terminado==0.17.1 ; python_version >= "3.10" and python_version < "3.12"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
tornado==6.3.3 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.12"
traitlets==5.13.0 ; python_version >= "3.10" and python_version < "3.12"
types-python-dateutil==2.8.19.14 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "3.12"
tzlocal==5.2 ; python_version >= "3.10" and python_version < "3.12"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.12"
validators==0.22.0 ; python_version >= "3.10" and python_version < "3.12"
watchdog==3.0.0 ; python_version >= "3.10" and python_version < "3.12" and platform_system != "Darwin"
wcwidth==0.2.9 ; python_version >= "3.10" and python_version < "3.12"
webcolors==1.13 ; python_version >= "3.10" and python_version < "3.12"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
websocket-client==1.6.4 ; python_version >= "3.10" and python_version < "3.12"
werkzeug==3.0.1 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
wheel==0.41.3 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "darwin"
wrapt==1.14.1 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "3.12"
zipp==3.17.0 ; python_version >= "3.10" and python_version < "3.12"
