functions-framework
google-cloud-storage
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.4
requests==2.31.0
urllib3==2.1.0
fsspec==2023.10.0
gcsfs==2023.10.0
pandas
google-cloud
langchain==0.0.330
langsmith==0.0.57
tqdm==4.66.1
numpy
python-dotenv==1.0.0
google-api-core==2.13.0
google-api-core[grpc]==2.13.0
google-api-python-client==2.107.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-auth==2.23.4
google-cloud-aiplatform==1.35.0
google-cloud-bigquery==3.13.0
google-cloud-core==2.3.3
google-cloud-datastore==2.18.0
google-cloud-firestore==2.13.1
google-cloud-pubsub==2.18.4
google-cloud-resource-manager==1.10.4
google-cloud-storage==2.13.0
atlassian-python-api==3.41.3
markdownify==0.11.6
markdown==3.5.1
markdown-it-py==3.0.0